.form-control{
    width: 35%;
    border-radius: 20px;
}
.a{
    padding-top: 30px;
    margin-left: 290px;
}
.b{
    margin-top: 10px;
    margin-left: 225px;
    width: 10%;
}
input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border-left: 5px solid rgb(226, 14, 14);
}